
*.obj
x64/Debug/project.tlog/unsuccessfulbuild
.vs/project/v16/.suo
*.db
*.ipch
*.exe
*.recipe
*.ilk
*.log
*.pdb
*.tlog
Debug/project.vcxproj.FileListAbsolute.txt
*.idb
*.sln
*.vcxproj
*.filters
*.user
x64/Debug/project.vcxproj.FileListAbsolute.txt
*.props
