*.db
*.ipch
*.json
*.sqlite
.vs/project/v16/.suo
Client/.vs/Client/v16/.suo
*.recipe
*.pdb
*.ilk
*.log
*.tlog
*.idb
*.CopyComplete
*.db-shm
*.opendb
*.db-wal
*.filters
*.user
*.vcxproj
project/.vs/project/v16/.suo
*.sln
*.ipdb
Server/.vs/Server/v16/.suo
Server/2'3'1621447833
